body{
    background-color:rgb(249 242 246);
    background-size:cover;
}

h1{
    color:white;
    font-family:F;
    font-size: 300%;
}


.image-container{
    position: relative;
    display: inline-block;

}

#comp{

    display:block;
  
    
}

.computer{

    width:900px;
    margin:auto;

}

.clickable-area{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 690px;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    pointer-events: none;

}

.clickable-area a {
    color: black;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;

}